/*styleName深色styleName*/
/*styleFileNameblackstyleFileName*/
/*imagePath:/images/2k/black/imagePath*/
* { font-family: 微软雅黑; font-size: 16px; color: #cad4e4; }
*:disabled { color: #a5aab1; }

QCheckBox:indicator, QHeaderView:indicator, QGroupBox:indicator, QListView:indicator, QTableView:indicator, QTreeView::indicator { width: 13px; height: 13px; }
QCheckBox:indicator, QHeaderView:indicator, QGroupBox:indicator, QListView:indicator, QTableView:indicator, QTreeView::indicator { image: url(:/images/2k/black/QCheckBox/unchecked_normal.png); }
QCheckBox:indicator:hover, QHeaderView:indicator:hover, QGroupBox:indicator:hover, QListView:indicator:hover, QTableView:indicator:hover, QTreeView::indicator:hover { image: url(:/images/2k/black/QCheckBox/unchecked_hover.png); }
QCheckBox:indicator:pressed, QHeaderView:indicator:pressed, QGroupBox:indicator:pressed, QListView:indicator:pressed, QTableView:indicator:pressed, QTreeView::indicator:pressed { image: url(:/images/2k/black/QCheckBox/unchecked_pressed.png); }
QCheckBox:indicator:disabled, QHeaderView:indicator:disabled, QGroupBox:indicator:disabled, QListView:indicator:disabled, QTableView:indicator:disabled, QTreeView::indicator:disabled { image: url(:/images/2k/black/QCheckBox/unchecked_disabled.png); }
QCheckBox:indicator:checked, QHeaderView:indicator:checked, QGroupBox:indicator:checked, QListView:indicator:checked, QTableView:indicator:checked, QTreeView::indicator:checked { image: url(:/images/2k/black/QCheckBox/checked_normal.png); }
QCheckBox:indicator:checked:hover, QHeaderView:indicator:checked:hover, QGroupBox:indicator:checked:hover, QListView:indicator:checked:hover, QTableView:indicator:checked:hover, QTreeView::indicator:checked:hover { image: url(:/images/2k/black/QCheckBox/checked_hover.png); }
QCheckBox:indicator:checked:pressed, QHeaderView:indicator:checked:pressed, QGroupBox:indicator:checked:pressed, QListView:indicator:checked:pressed, QTableView:indicator:checked:pressed, QTreeView::indicator:checked:pressed { image: url(:/images/2k/black/QCheckBox/checked_pressed.png); }
QCheckBox:indicator:checked:disabled, QHeaderView:indicator:checked:disabled, QGroupBox:indicator:checked:disabled, QListView:indicator:checked:disabled, QTableView:indicator:checked:disabled, QTreeView::indicator:checked:disabled { image: url(:/images/2k/black/QCheckBox/checked_disabled.png); }
QCheckBox:indicator:indeterminate, QHeaderView:indicator:indeterminate, QGroupBox:indicator:indeterminate, QListView:indicator:indeterminate, QTableView:indicator:indeterminate, QTreeView::indicator:indeterminate { image: url(:/images/2k/black/QCheckBox/indeterminate_normal.png); }
QCheckBox:indicator:indeterminate:hover, QHeaderView:indicator:indeterminate:hover, QGroupBox:indicator:indeterminate:hover, QListView:indicator:indeterminate:hover, QTableView:indicator:indeterminate:hover, QTreeView::indicator:indeterminate:hover { image: url(:/images/2k/black/QCheckBox/indeterminate_hover.png); }
QCheckBox:indicator:indeterminate:pressed, QHeaderView:indicator:indeterminate:pressed, QGroupBox:indicator:indeterminate:pressed, QListView:indicator:indeterminate:pressed, QTableView:indicator:indeterminate:pressed, QTreeView::indicator:indeterminate:pressed { image: url(:/images/2k/black/QCheckBox/indeterminate_pressed.png); }
QCheckBox:indicator:indeterminate:disabled, QHeaderView:indicator:indeterminate:disabled, QGroupBox:indicator:indeterminate:disabled, QListView:indicator:indeterminate:disabled, QTableView:indicator:indeterminate:disabled, QTreeView::indicator:indeterminate:disabled { image: url(:/images/2k/black/QCheckBox/indeterminate_disabled.png); }

QColorDialog QWidget { background: transparent; }

QComboBox { min-height: 29px; color: #baceea; border-image: url(:/images/2k/black/QComboBox/normal.png) 2px 31 2 2; border-width: 2px; border-right-width: 31px; padding: -1 -31px -1 2px;  }
QComboBox:hover { color: #dce6f5; border-image: url(:/images/2k/black/QComboBox/hover.png); }
QComboBox:editable:focus { color: #90a5c3; border-image: url(:/images/2k/black/QComboBox/pressed.png); }
QComboBox:on { border-image: url(:/images/2k/black/QComboBox/on.png); }
QComboBox:disabled { border-image: url(:/images/2k/black/QComboBox/disabled.png); }
QComboBox::drop-down { min-width: 29; max-width: 29; min-height: 29; max-height: 29; border: none; border-image: none; subcontrol-origin: border; subcontrol-position: top right; }
QComboBox QAbstractItemView { outline: none; border-image: url(:/images/2k/black/QComboBox/view.png) 1px; border-width: 1px; selection-background-color: #1a4369;  }
QComboBox QListWidget::item { min-height: 29px; }
QComboBox QTreeView { border: none; background: transparent; }

QDateEdit, QDateTimeEdit, QDoubleSpinBox, QSpinBox, QTimeEdit { min-height: 29px; color: #baceea; border-image: url(:/images/2k/black/QSpinBox/normal.png) 1px; border-width: 1px; }
QAbstractSpinBox[buttonSymbols="2"] { padding-right: -29px; }
QDateEdit:hover, QDateTimeEdit:hover, QDoubleSpinBox:hover, QSpinBox:hover, QTimeEdit:hover { color: #dce6f5; border-image: url(:/images/2k/black/QSpinBox/hover.png); }
QDateEdit:focus, QDateTimeEdit:focus, QDoubleSpinBox:focus, QSpinBox:focus, QTimeEdit:focus { color: #90a5c3; border-image: url(:/images/2k/black/QSpinBox/focus.png); }
QDateEdit:!focus, QDateTimeEdit:!focus, QDoubleSpinBox:!focus, QSpinBox:!focus, QTimeEdit:!focus { selection-color: #baceea; }
QDateEdit:disabled, QDateTimeEdit:disabled, QDoubleSpinBox:disabled, QSpinBox:disabled, QTimeEdit:disabled { color: #a5aab1; border-image: url(:/images/2k/black/QSpinBox/disabled.png); }
QDateEdit::up-button, QDateEdit::down-button, QDateTimeEdit::up-button, QDateTimeEdit::down-button, QDoubleSpinBox::up-button, QDoubleSpinBox::down-button, QSpinBox::up-button, QSpinBox::down-button, QTimeEdit::up-button, QTimeEdit::down-button { min-width: 29; max-width: 29; }
QDateEdit::up-button, QDateTimeEdit::up-button, QDoubleSpinBox::up-button, QSpinBox::up-button, QTimeEdit::up-button { min-height: 14; max-height: 14; }
QDateEdit::down-button, QDateTimeEdit::down-button, QDoubleSpinBox::down-button, QSpinBox::down-button, QTimeEdit::down-button { min-height: 14; max-height: 14; }
QDateEdit::up-button, QDateTimeEdit::up-button, QDoubleSpinBox::up-button, QSpinBox::up-button, QTimeEdit::up-button { image: url(:/images/2k/black/QSpinBox/up_button_normal.png); }
QDateEdit::up-button:hover, QDateTimeEdit::up-button:hover, QDoubleSpinBox::up-button:hover, QSpinBox::up-button:hover, QTimeEdit::up-button:hover { image: url(:/images/2k/black/QSpinBox/up_button_hover.png); }
QDateEdit::up-button:pressed, QDateTimeEdit::up-button:pressed, QDoubleSpinBox::up-button:pressed, QSpinBox::up-button:pressed, QTimeEdit::up-button:pressed { image: url(:/images/2k/black/QSpinBox/up_button_pressed.png); }
QDateEdit::up-button:disabled, QDateTimeEdit::up-button:disabled, QDoubleSpinBox::up-button:disabled, QSpinBox::up-button:disabled, QTimeEdit::up-button:disabled { image: url(:/images/2k/black/QSpinBox/up_button_disabled.png); }
QDateEdit::down-button, QDateTimeEdit::down-button, QDoubleSpinBox::down-button, QSpinBox::down-button, QTimeEdit::down-button { image: url(:/images/2k/black/QSpinBox/down_button_normal.png); }
QDateEdit::down-button:hover, QDateTimeEdit::down-button:hover, QDoubleSpinBox::down-button:hover, QSpinBox::down-button:hover, QTimeEdit::down-button:hover { image: url(:/images/2k/black/QSpinBox/down_button_hover.png); }
QDateEdit::down-button:pressed, QDateTimeEdit::down-button:pressed, QDoubleSpinBox::down-button:pressed, QSpinBox::down-button:pressed, QTimeEdit::down-button:pressed { image: url(:/images/2k/black/QSpinBox/down_button_pressed.png); }
QDateEdit::down-button:disabled, QDateTimeEdit::down-button:disabled, QDoubleSpinBox::down-button:disabled, QSpinBox::down-button:disabled, QTimeEdit::down-button:disabled { image: url(:/images/2k/black/QSpinBox/down_button_disabled.png); }

QGroupBox { border: 1px solid #334b69; margin-top: 8; padding-top: 2px; }
QGroupBox::title { subcontrol-origin: margin; margin-left: 5; margin-right: 5; left: 15; top: -3; color: #ffb848 }

QGroupBox[type="title"] { border: none; }
QGroupBox[type="title"]::title { image: url(:/images/2k/black/icon/Other/ellipse.png); image-position: left; margin-left: 0px; left: 0px; }


QFileDialog QWidget { background: transparent; }
QFileDialog QToolButton { border-image: none; }
QFileDialog QToolButton:hover { border-image: none; }
QFileDialog QToolButton:pressed { border-image: none; }
QFileDialog QToolButton:checked { border-image: none; }
QFileDialog QToolButton:disabled { border-image: none; }

QHeaderView { border: none; background: #0a2842; }
QHeaderView::section, QTableCornerButton::section { border: none; background: #0a2842; }
QHeaderView::section:horizontal { border-right: 1px solid #2f3a4d; }
QHeaderView::section:vertical { border-bottom: 1px solid #2f3a4d; }

QLineEdit { min-height: 29px; color: #baceea; border-image: url(:/images/2k/black/QLineEdit/normal.png) 1px; border-width: 1px; }
QLineEdit:hover { color: #dce6f5; border-image: url(:/images/2k/black/QLineEdit/hover.png); }
QLineEdit:focus { color: #90a5c3; border-image: url(:/images/2k/black/QLineEdit/focus.png); }
QLineEdit:disabled { color: #a5aab1; border-image: url(:/images/2k/black/QLineEdit/disabled.png); }
QLineEdit:read-only { border-image: url(:/images/2k/black/QLineEdit/normal.png) 1px; }

QListView, QTextEdit, QPlainTextEdit { border-image: url(:/images/2k/black/QLineEdit/normal.png) 1px; border-width: 1px; outline: none; }
QListView, QTableView, QTreeView[alternatingRowColors="true"] { background-color: #1a2330; alternate-background-color: #111823; border: 1 solid #2f3a4d; show-decoration-selected: 0; }
QListView::item, QTableView::item, QTreeView[alternatingRowColors="true"]::item { height: 36; }
QListView::item:hover, QTableView::item:hover, QTreeView[alternatingRowColors="true"]::item:hover { border: 1px solid #88650c; color: #ffbd55; padding: -1px; }
QListView::item:selected, QTableView::item:selected, QTreeView[alternatingRowColors="true"]::item:selected { border: 1px solid #fbb341; color: #ffbd55; padding: -1px; }
QListView::item:disabled, QTableView::item:disabled, QTreeView::item:disabled { color: #4e5a68; }
QTableView[selectionBehavior="1"]::item:selected { border-left: none; border-right: none; padding: -1px 0px; }

QMenu { border-image: url(:/images/2k/black/QMenu/bg.png) 1px; border-width: 1px; }
QMenu::item { height: 31px; background: transparent; padding: 0 30px 0 32px; }
QMenu::item:selected { height: 29px; border-image: url(:/images/2k/black/QMenu/hover2.png) 1px 0 1px 32px; border-width: 1px; border-left-width: 32px; padding-left: 0px; color: #121822; }
QMenu::item:pressed { height: 29px; border-image: url(:/images/2k/black/QMenu/pressed2.png) 1px 0 1px 32px; border-width: 1px; border-left-width: 32px; padding-left: 0px; }
QMenu::item:checked { height: 29px; border-image: url(:/images/2k/black/QMenu/exclusive_checked.png) 1px 0 1 32px; border-width: 1px; border-left-width: 32px; padding-left: 0px; color: #141b26; }
QMenu::indicator { width: 20px; height: 20px; padding-left: 3px; left: 1px; }
QMenu::indicator { subcontrol-origin: border; }
QMenu::indicator:checked { image: url(:/images/2k/black/QMenu/indicator_checked.png); }
QMenu::indicator:exclusive:checked { image: url(:/images/2k/black/QMenu/indicator_exclusive_checked.png); }
QMenu::separator { height: 1px; border-image: none; border: none; background: #3e4e68; }
QMenu::icon { left: 7px; top: 1px; }
QMenu::icon:selected { left: -25px; top: 1px; }
QMenu::icon:checked { left: -25px; top: 1px; }
/*菜单*/
LyMenu { qproperty-iconPath: ":/images/2k/black/icon/QMenu/%1_%2.png"; qproperty-iconSize: 29; }
LyMenu::icon { left: 1px; top: 1px; }
LyMenu::icon:selected { left: -31px; top: 1px; }
LyMenu::icon:checked { left: -31px; top: 1px; } 

QPushButton { color: #ffffff; min-height: 28; padding: 0 3px 2 3px; }
QPushButton { border-image: url(:/images/2k/black/QPushButton/normal.png) 3 3 5 3px; border-width: 3 3 5 3px; }
QPushButton:hover { border-image: url(:/images/2k/black/QPushButton/hover.png); }
QPushButton:pressed  { border-image: url(:/images/2k/black/QPushButton/pressed.png); }
QPushButton::checked  { border-image: url(:/images/2k/black/QPushButton/checked.png); }
QPushButton:disabled { color: #8397ab; border-image: url(:/images/2k/black/QPushButton/disabled.png); }

QProgressBar { text-align: center; font-size: 13px; }
QProgressBar:horizontal { height: 19px; border-image:url(:/images/2k/black/QProgressBar/bg_h.png) 9px 10px; border-width: 9px 10px; padding: -9px -10px; margin: 1px 0px; }
QProgressBar:vertical { width: 19px; border-image:url(:/images/2k/black/QProgressBar/bg_v.png) 10px 9px; border-width: 10px 9px; padding: -10px -9px; margin: 0px 1px; }
QProgressBar::chunk:horizontal { background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ab2304, stop: 1 #fe5f3b); border-radius: 4px; margin: 5px; }
QProgressBar::chunk:vertical { background: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 #ab2304, stop: 1 #fe5f3b); border-radius: 4px; margin: 5px; }

QRadioButton:indicator { width: 13px; height: 13px; image: url(:/images/2k/black/QRadioButton/unchecked_normal.png); }
QRadioButton:indicator:hover { image: url(:/images/2k/black/QRadioButton/unchecked_hover.png); }
QRadioButton:indicator:pressed { image: url(:/images/2k/black/QRadioButton/unchecked_pressed.png); }
QRadioButton::indicator:disabled { image: url(:/images/2k/black/QRadioButton/unchecked_disabled.png); }
QRadioButton:indicator:checked { image: url(:/images/2k/black/QRadioButton/checked_normal.png); }
QRadioButton:indicator:checked:hover { image: url(:/images/2k/black/QRadioButton/checked_hover.png); }
QRadioButton:indicator:checked:pressed { image: url(:/images/2k/black/QRadioButton/checked_pressed.png); }
QRadioButton::indicator:checked:disabled { image: url(:/images/2k/black/QRadioButton/checked_disabled.png); }

QScrollArea, QScrollArea > QWidget, QScrollArea > QWidget > QWidget { border: none; background: transparent; }

QScrollBar:horizontal { height:12; padding: 0 12px; background-image: url(:/images/2k/black/QScrollBar/h_bg.png); }
QScrollBar::vertical { width:12; padding: 12 0px; background-image: url(:/images/2k/black/QScrollBar/v_bg.png); }
QScrollBar::handle:horizontal { border: 2px solid transparent; border-left: none; border-right: none; background-image: url(:/images/2k/black/QScrollBar/h_handle_normal.png); min-height: 20px;}
QScrollBar::handle:horizontal:hover { background-image: url(:/images/2k/black/QScrollBar/h_handle_hover.png); }
QScrollBar::handle:horizontal:pressed { background-image: url(:/images/2k/black/QScrollBar/h_handle_pressed.png); }
QScrollBar::handle:horizontal:disabled { background-image: url(:/images/2k/black/QScrollBar/h_handle_disabled.png); }
QScrollBar::handle:vertical { border: 2px solid transparent; border-top: none; border-bottom: none; background-image: url(:/images/2k/black/QScrollBar/v_handle_normal.png); }
QScrollBar::handle:vertical:hover { background-image: url(:/images/2k/black/QScrollBar/v_handle_hover.png); }
QScrollBar::handle:vertical:pressed { background-image: url(:/images/2k/black/QScrollBar/v_handle_pressed.png); }
QScrollBar::handle:vertical:disabled { background-image: url(:/images/2k/black/QScrollBar/v_handle_disabled.png); }
 
QScrollBar::add-line:horizontal {subcontrol-position: right; subcontrol-origin: margin; width: 12; border:none;}
QScrollBar::sub-line:horizontal {subcontrol-position: left; subcontrol-origin: margin; width: 12; border:none;}
QScrollBar::add-line:vertical {subcontrol-position: bottom; subcontrol-origin: margin; height: 12; border:none;}
QScrollBar::sub-line:vertical {subcontrol-position: top; subcontrol-origin: margin; height: 12; border:none;}

QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal { width: 12; height: 12; border:none;}
QScrollBar:up-arrow:vertical, QScrollBar::down-arrow:vertical { width: 12; height: 12; border:none;}
QScrollBar::left-arrow { image: url(:/images/2k/black/QScrollBar/left_arrow_normal.png); }
QScrollBar::left-arrow:hover { image: url(:/images/2k/black/QScrollBar/left_arrow_hover.png); }
QScrollBar::left-arrow:pressed { image: url(:/images/2k/black/QScrollBar/left_arrow_pressed.png); }
QScrollBar::left-arrow:disabled { image: url(:/images/2k/black/QScrollBar/left_arrow_disabled.png); }
QScrollBar::right-arrow { image: url(:/images/2k/black/QScrollBar/right_arrow_normal.png); }
QScrollBar::right-arrow:hover { image: url(:/images/2k/black/QScrollBar/right_arrow_hover.png); }
QScrollBar::right-arrow:pressed { image: url(:/images/2k/black/QScrollBar/right_arrow_pressed.png); }
QScrollBar::right-arrow:disabled { image: url(:/images/2k/black/QScrollBar/right_arrow_disabled.png); }
QScrollBar::up-arrow { image: url(:/images/2k/black/QScrollBar/up_arrow_normal.png); }
QScrollBar::up-arrow:hover { image: url(:/images/2k/black/QScrollBar/up_arrow_hover.png); }
QScrollBar::up-arrow:pressed { image: url(:/images/2k/black/QScrollBar/up_arrow_pressed.png); }
QScrollBar::up-arrow:disabled { image: url(:/images/2k/black/QScrollBar/up_arrow_disabled.png); }
QScrollBar::down-arrow { image: url(:/images/2k/black/QScrollBar/down_arrow_normal.png); }
QScrollBar::down-arrow:hover { image: url(:/images/2k/black/QScrollBar/down_arrow_hover.png); }
QScrollBar::down-arrow:pressed { image: url(:/images/2k/black/QScrollBar/down_arrow_pressed.png); }
QScrollBar::down-arrow:disabled { image: url(:/images/2k/black/QScrollBar/down_arrow_disabled.png); }

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal, QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical { background: none;}

QSlider::groove:horizontal { height: 10px; border-image: url(:/images/2k/black/QSlider/horizontal/groove.png) 0px 5px; border-width: 0px 5px; padding: 0px -5px; }
QSlider::groove:vertical { width: 10px; border-image: url(:/images/2k/black/QSlider/vertical/groove.png) 5px 0; border-width: 5px 0; padding: -5px 0px;}
QSlider::groove:disabled { border-image: none; border: none; background: red; }
QSlider::sub-page:horizontal { background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ab2304, stop: 1 #fe5f3b); border-radius: 2px; margin: 3px; }
QSlider::add-page:vertical { background: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 #ab2304, stop: 1 #fe5f3b); border-radius: 2px; margin: 3px; }
QSlider::handle:horizontal { width: 9px; height: 18px; margin: -4px 0; }
QSlider::handle:horizontal { image: url(:/images/2k/black/QSlider/horizontal/handle_normal.png); }
QSlider::handle:horizontal:hover { image: url(:/images/2k/black/QSlider/horizontal/handle_hover.png); }
QSlider::handle:horizontal:pressed { image: url(:/images/2k/black/QSlider/horizontal/handle_pressed.png); }
QSlider::handle:horizontal:disabled { image: url(:/images/2k/black/QSlider/horizontal/handle_disabled.png); }
QSlider::handle:vertical { width: 18px; height: 9px; margin: 0 -4px;}
QSlider::handle:vertical { image: url(:/images/2k/black/QSlider/vertical/handle_normal.png); }
QSlider::handle:vertical:hover { image: url(:/images/2k/black/QSlider/vertical/handle_hover.png); }
QSlider::handle:vertical:pressed { image: url(:/images/2k/black/QSlider/vertical/handle_pressed.png); }
QSlider::handle:vertical:disabled { image: url(:/images/2k/black/QSlider/vertical/handle_disabled.png); }

QSplitter { qproperty-handleWidth: 1px; }
QSplitter::handle:vertical { height: 3px; border-image: url(:/images/2k/black/QSplitter/handle_h.png); }
QSplitter::handle:horizontal { width: 3px; border-image: url(:/images/2k/black/QSplitter/handle_v.png); }

QTabWidget::pane { border: none; background: rgba(0, 0, 0, 0.01); border-top: 1px solid #627284; margin-top: -1px; }
QTabWidget QTabBar, QTabWidget QTabBar::tab { height: 28px; border: none; }
QTabWidget QTabBar::tab:first, QTabWidget QTabBar::tab:only-one { margin-left: 12px; }
QTabWidget QTabBar::tab:top { border: none; padding: 1 10px; height: 30px; }
QTabWidget QTabBar::tab:top { margin-top: 2px; }
QTabWidget QTabBar::tab:top:selected { color: #ffb848;  border: 1px solid #627284; border-bottom: 1px solid red;  border-image: url(:/images/2k/black/QTabBar/selected.png); }

QTabWidget QTabBar:bottom, QTabBar::tab:bottom { border-top: 1px solid #627284; padding: 2 10px; }
QTabWidget QTabBar::tab:bottom { margin-bottom: 2px; }
QTabWidget QTabBar::tab:bottom:selected { border: 1px solid #627284; border-top: 1px solid #141b26; }

QTabBar::close-button { width: 18px; height: 18px; image: url(:/images/2k/black/QTabBar/close_normal.png); subcontrol-position: right; image-position: bottom; }
QTabBar::close-button:hover { image: url(:/images/2k/black/QTabBar/close_hover.png); }
QTabBar::close-button:pressed { image: url(:/images/2k/black/QTabBar/close_pressed.png); }
QTabBar::close-button:selected { image: url(:/images/2k/black/QTabBar/close_selected_normal.png); subcontrol-position: right; }
QTabBar::close-button:selected:hover { image: url(:/images/2k/black/QTabBar/close_selected_hover.png); }
QTabBar::close-button:selected:pressed { image: url(:/images/2k/black/QTabBar/close_selected_pressed.png); }

QTabBar::tear { image: none; }
QTabBar QToolButton { min-width: 14; max-width: 14;  border: none; padding: 0; margin: 0; border-image: none; }
QTabBar QToolButton:hover { border-image: none; }
QTabBar QToolButton:pressed { border-image: none; }
QTabBar QToolButton:disabled { border-image: none; }
QTabBar QToolButton::right-arrow { image: url(:/images/2k/black/QTabBar/arrow_right_normal.png); }
QTabBar QToolButton::right-arrow:hover { image: url(:/images/2k/black/QTabBar/arrow_right_hover.png); }
QTabBar QToolButton::right-arrow:pressed { image: url(:/images/2k/black/QTabBar/arrow_right_pressed.png); }
QTabBar QToolButton::right-arrow:disabled { image: url(:/images/2k/black/QTabBar/arrow_right_disabled.png); }
QTabBar QToolButton::left-arrow { image: url(:/images/2k/black/QTabBar/arrow_left_normal.png); }
QTabBar QToolButton::left-arrow:hover { image: url(:/images/2k/black/QTabBar/arrow_left_hover.png); }
QTabBar QToolButton::left-arrow:pressed { image: url(:/images/2k/black/QTabBar/arrow_left_pressed.png); }
QTabBar QToolButton::left-arrow:disabled { image: url(:/images/2k/black/QTabBar/arrow_left_disabled.png); }

QTabWidget[type="two"]::pane { border: none; background: transparent; margin: 0px; }
QTabWidget[type="two"] QTabBar { height: 26px; border: none; }
QTabWidget[type="two"] QTabBar::tab:top { border: none; margin: 0px; padding: 1px; margin: 0 10px; }
QTabWidget[type="two"] QTabBar::tab:top:hover { color: #ffb848; padding: 1px; }
QTabWidget[type="two"] QTabBar::tab:top:selected { color: #ffb848; border-image: none; border: none; border-bottom: 1px solid #ffb848; padding: 1px 1px 0 1px; }
/*QTabWidget[type="two"] QTabBar::tab:top:selected:hover { color: #704b11; border-bottom: 1px solid #704b11; padding: 1px 1px 0 1px; }*/

QTableView { outline: none; border: 1px solid #2f3a4d;  gridline-color: #2f3a4d; }
QTableView QComboBox, QTableView QSpinBox, QTableView QLineEdit, QTableView QDoubleSpinBox { background: black; }

QToolBox { border: none; background: transparent; }
QToolBox::tab { border-width: 3px; color: #ffffff; padding-left: 12px; padding-right: 8px; }
QToolBox::tab { border-image: url(:/images/2k/black/QToolBox/normal.png) 3px; image: url(:/images/2k/black/QToolBox/close.png); image-position: right; }
QToolBox::tab:hover { border-image: url(:/images/2k/black/QToolBox/hover.png) 3px; }
QToolBox::tab:pressed { border-image: url(:/images/2k/black/QToolBox/pressed.png) 3px; }
QToolBox::tab:selected { image: url(:/images/2k/black/QToolBox/open.png); padding-right: 6px;}

QToolButton { color: #ffffff; height: 30; }
QToolButton { border-image: url(:/images/2k/black/QPushButton/normal.png) 3 8 5 8px; border-width: 3 8 5 8px; }
QToolButton:hover { border-image: url(:/images/2k/black/QPushButton/hover.png); }
QToolButton:pressed  { border-image: url(:/images/2k/black/QPushButton/pressed.png); }
QToolButton:checked  { border-image: url(:/images/2k/black/QPushButton/checked.png); }
QToolButton:disabled { color: #8397ab; border-image: url(:/images/2k/black/QPushButton/disabled.png); }

QToolTip, #ComboBoxTree { border-image: url(:/images/2k/black/QMenu/bg.png) 1px; border-width: 1px; }

QTreeView { outline: none; border: none; background: transparent; color: #cad4e4; qproperty-indentation: 43; }
QTreeView[alternatingRowColors="false"]::item { height: 26px; border-image: url(:/images/2k/black/QTreeView/item_normal.png) 3; border-width: 3px; margin: 2px; }
QTreeView[alternatingRowColors="false"]::item:hover { border-image: url(:/images/2k/black/QTreeView/item_hover.png); }
QTreeView[alternatingRowColors="false"]::item:selected { border-image: url(:/images/2k/black/QTreeView/item_selected.png); color: #ffffff; }
QTreeView[alternatingRowColors="false"]::item:!closed:has-children { border-image: url(:/images/2k/black/QTreeView/item_open.png); }
QTreeView[alternatingRowColors="false"]::item:!closed:has-children:hover { border-image: url(:/images/2k/black/QTreeView/item_hover.png); }
QTreeView[alternatingRowColors="false"]::item:!closed:has-children:selected { border-image: url(:/images/2k/black/QTreeView/item_selected.png); }

QTreeView::branch:has-siblings:!adjoins-item { image:url(:/images/2k/black/QTreeView/branch_vline.png); }
QTreeView::branch:has-siblings:adjoins-item { image: url(:/images/2k/black/QTreeView/branch_more.png); }
QTreeView::branch:!has-children:!has-siblings:adjoins-item { image: url(:/images/2k/black/QTreeView/branch_end.png); }

QTreeView::branch:has-children:!has-siblings:closed, QTreeView::branch:closed:has-children:has-siblings {  border-image: none; image: url(:/images/2k/black/QTreeView/branch_closed_normal.png); }
QTreeView::branch:has-children:!has-siblings:closed:hover, QTreeView::branch:closed:has-children:has-siblings:hover {  border-image: none; image: url(:/images/2k/black/QTreeView/branch_closed_hover.png); }
QTreeView::branch:has-children:!has-siblings:closed:pressed, QTreeView::branch:closed:has-children:has-siblings:pressed {  border-image: none; image: url(:/images/2k/black/QTreeView/branch_closed_pressed.png); }
QTreeView::branch:open:has-children:!has-siblings, QTreeView::branch:open:has-children:has-siblings { border-image: none; image: url(:/images/2k/black/QTreeView/branch_open_normal.png); }
QTreeView::branch:open:has-children:!has-siblings:hover, QTreeView::branch:open:has-children:has-siblings:hover { border-image: none; image: url(:/images/2k/black/QTreeView/branch_open_hover.png); }
QTreeView::branch:open:has-children:!has-siblings:pressed, QTreeView::branch:open:has-children:has-siblings:pressed { border-image: none; image: url(:/images/2k/black/QTreeView/branch_open_pressed.png); }

/*---------------------自定义控件--------------------------*/
/*滑动开关按钮*/
QPushButton[type="slideButton"] { border: none; border-image: none; image: url(:/images/2k/black/SlideButton/close.png); min-width: 50px; min-height: 22px; max-width: 50px; min-height: 22px; padding: 0px; margin: 0px; qproperty-text: ""; qproperty-checkable: true;}
QPushButton[type="slideButton"]:checked { border-image: none; image: url(:/images/2k/black/SlideButton/open.png); }
/*圆形图标标签*/
QLabel[type="ellipseIcon"] { image: url(:/images/2k/black/icon/Other/ellipse.png); qproperty-text: ""; min-width: 8px; max-width: 8px; height: 8px; }
QLabel[type="titleLabel"] { font-size: 16px; image: url(:/images/2k/black/icon/Other/ellipse.png);  image-position: left; }
/*地图窗口图标按钮*/
MapIconWidget { qproperty-iconPath: ":/images/2k/black/icon/MapToolButton/%1.png"; qproperty-mapTopRightSize: 48px 6px; min-width: 45px; min-height: 400px; }
#MapTBtn { min-width: 41px; min-height: 35px; max-width: 41px; max-height: 35px; border-image: url(:/images/2k/black/MapToolButton/normal.png); border-width: 0px; padding: 0px; padding-left: 3px; padding-right: -3px; }
#MapTBtn:hover { border-image: url(:/images/2k/black/MapToolButton/hover.png); }
#MapTBtn:pressed, #MapTBtn:checked { border-image: url(:/images/2k/black/MapToolButton/checked.png); background: black; }
#MouseInfoLabel { min-width: 200px; min-height: 30px; color: black; }
/*可五态图标工具按钮normal hover pressed checked disabled*/
LyIconToolButton { border: none; border-image: none; color: #8898b5; }
LyIconToolButton:hover { border-image: none; color: #fbb341; }
LyIconToolButton:pressed { border-image: none; color: #694a1e; }
LyIconToolButton:checked { border-image: none; background: #ffb848; }
LyIconToolButton[toolButtonStyle="0"] { qproperty-iconPath: ":/images/2k/black/icon/Tool/24/%1_%2.png"; }
LyIconToolButton[toolButtonStyle="2"] { qproperty-iconPath: ":/images/2k/black/icon/Tool/18/%1_%2.png"; width: -1px; padding: 0px; }

/*LyTabWidget*/
LyTabWidget #tabbar { max-height: 37px; min-height: 37px; }
LyTabWidget { qproperty-lineColor: "#fbb341"; }
LyTabWidget QPushButton[type="TabBtn"] { color: #9da8ba; padding: 0 10px; border: none; border-image: none; }
LyTabWidget QPushButton[type="TabBtn"]:hover { border-image: none; color: #fbb341; border-image: none; }
LyTabWidget QPushButton[type="TabBtn"]:pressed { border-image: none; }
LyTabWidget QPushButton[type="TabBtn"]:checked { color: #fbb341; image: url(:/images/2k/black/QMenuBar/triangle.png); image-position: bottom center; border-image: none; }

/*主窗口背景*/
MainWindow { border: none;  border-image: url(:/images/2k/black/QMainWindow/bg.png); }
MainWindow QFrame[frameShape="4"] { max-height: 1px; border: none; background: #233245; }
MainWindow QFrame[frameShape="5"] { max-width: 1px; border: none; background: #233245; }

/*副窗口背景*/
LyWindow { border: none;  border-image: url(:/images/2k/black/ViceWindow/bg.png); qproperty-margin: 8; }
LySubWidget { border-image: url(:/images/2k/black/QDockWidget/dock.png) 39px 38px 5px 5px; border-width: 39px 38px 5px 5px; background: #0c1017; }
LySubWidget #TitleLabel { min-height: 24px; margin: 6px 0 5px 5px;  padding-left: 10px; color: #ffb848; border: none; border-left: 4px solid #ffb848; }
LySubWidget #FullScreenBtn, LySubWidget #FullScreenBtn:hover, LySubWidget #FullScreenBtn:pressed, LySubWidget #FullScreenBtn:checked { border: none; border-image: none; padding: 0px; }
LySubWidget #FullScreenBtn { image: url(:/images/2k/black/ViceWindow/fullScreen_normal.png); }
LySubWidget #FullScreenBtn:hover { image: url(:/images/2k/black/ViceWindow/fullScreen_hover.png); }
LySubWidget #FullScreenBtn:pressed { image: url(:/images/2k/black/ViceWindow/fullScreen_pressed.png); }
LySubWidget #FullScreenBtn:checked { image: url(:/images/2k/black/ViceWindow/shrink_normal.png); }
LySubWidget #FullScreenBtn:checked:hover { image: url(:/images/2k/black/ViceWindow/shrink_hover.png); }
LySubWidget #FullScreenBtn:checked:pressed { image: url(:/images/2k/black/ViceWindow/shrink_pressed.png); }

HeaderWidget { max-height: 87px; border-image: url(:/images/2k/black/HeaderWidget/header.png); qproperty-iconPath: ":/images/2k/black/icon/HeaderWidget/%1_%2.png"; }
HeaderWidget #DateLabel { font-family: Arial; font-size: 19px; color: #f0be5c; padding-left: 10px; padding-top: 5px; }
HeaderWidget #TimeLabel { font-family: Arial; font-size: 35px; font-weight: bold; color: #f0be5c; padding-right: 6px; padding-top: 3px; padding-bottom: 2px; }
HeaderWidget > QToolButton { border: none; background: transparent; color: #9aadcd; font-size: 15px; border-image: none; height: 38px; padding-right: 10px; }
HeaderWidget > QToolButton:hover { color: #b7cff7; border-image: none; }
HeaderWidget > QToolButton:pressed { color: #485b78; border-image: none; }
HeaderWidget > LyIconToolButton[toolButtonStyle="2"] { qproperty-iconPath: ":/images/2k/black/icon/HeaderWidget/%1_%2.png"; }
HeaderWidget #SetTBtn::menu-indicator { border: none; border-image: none; }
HeaderWidget #SetTBtn::menu-indicator:hover { border-image: none; }
HeaderWidget #SetTBtn::menu-indicator:pressed, MenuBar #MoreTBtn::menu-indicator:open { border-image: none; }
HeaderWidget #SetMenu { border-image: url(:/images/2k/black/QMenu/bg_2.png) 4px 1 1 1; border-width: 4px 1 1 1; padding-top: 4px; }
HeaderWidget #TroopIconLabel { min-width: 20px; max-width: 20px; image: url(:/images/2k/black/icon/HeaderWidget/airplane.png);  image-position: right; padding-top: 4px; padding-bottom: -1px; padding-left: 8px; }
HeaderWidget #TroopLabel { max-width: 230px; color: #fdd17b;  padding-top: 6px; font-size: 16px; }
HeaderWidget #TitleLabel { min-width: 270px; min-height: 26px; padding-top: 20px; qproperty-text: ""; image: url(:/images/2k/black/HeaderWidget/title.png); image-position: right; }

MenuBar { qproperty-lineColor: "#fbb341"; }
MenuBar QToolButton { border: none; background: transparent; color: #8898b5; font-size: 16px; height: 38px; border-image: none; }
MenuBar QToolButton:hover { border-image: url(:/images/2k/black/QMenuBar/pressed.png); }
MenuBar QToolButton:pressed { color: #d5bb9c; border-image: url(:/images/2k/black/QMenuBar/pressed.png); }
MenuBar QToolButton:checked { color: #fbb341;  font-size: 16px; border-image: none; }
MenuBar QToolButton:checked:pressed { color: #d5bb9c; }
MenuBar LyIconToolButton[toolButtonStyle="2"] { qproperty-iconPath: ":/images/2k/black/icon/MenuBar/%1_%2.png"; }
MenuBar QToolButton[type="RootMenuTBtn"] { font-size: 17px; height: 37px; color: #9da8ba; padding: 0 10px; }
MenuBar QToolButton[type="RootMenuTBtn"]:hover { border-image: none; color: #fbb341; }
MenuBar QToolButton[type="RootMenuTBtn"]:pressed { border-image: none; }
MenuBar QToolButton[type="RootMenuTBtn"]:checked { font-size: 20px; color: #fbb341; image: url(:/images/2k/black/QMenuBar/triangle.png); image-position: bottom center; }
MenuBar #MoreTBtn, MenuBar #MoreTBtn:hover, MenuBar #MoreTBtn:pressed { border-image: none; }
MenuBar #MoreTBtn { image: url(:/images/2k/black/QMenuBar/more_normal.png); padding-top: 1px; padding-bottom: -2px; }
MenuBar #MoreTBtn:hover { image: url(:/images/2k/black/QMenuBar/more_hover.png); }
MenuBar #MoreTBtn:pressed, MenuBar #MoreTBtn:open { image: url(:/images/2k/black/QMenuBar/more_pressed.png); }
MenuBar #MoreTBtn::menu-indicator { image: none; }
MenuBar QFrame[frameShape="5"] { max-width: 1px;  max-height: 16px; border: none; background: #191f2a; }
MenuBar #HLine { max-height: 1px; border: none; margin-right: 80px; }

MenuBar #PlanDeduceTBtn { width: 68px; height: 38px; }
MenuBar #PlanDeduceTBtn { image: url(:/images/2k/black/QMainWindow/MenuBar/deduction_normal.png); }
MenuBar #PlanDeduceTBtn:hover { image: url(:/images/2k/black/QMainWindow/MenuBar/deduction_hover.png); }
MenuBar #PlanDeduceTBtn:pressed { image: url(:/images/2k/black/QMainWindow/MenuBar/deduction_pressed.png); }
MenuBar #PlanDeduceTBtn:checked { image: url(:/images/2k/black/QMainWindow/MenuBar/plan_normal.png); }
MenuBar #PlanDeduceTBtn:checked:hover { image: url(:/images/2k/black/QMainWindow/MenuBar/plan_hover.png); }
MenuBar #PlanDeduceTBtn:checked:pressed { image: url(:/images/2k/black/QMainWindow/MenuBar/plan_pressed.png); }

/*FreeXDock*/
LyDockWrapperWidget { background-color: transparent; }

LyFloatDockWrapperWidget { border-image: url(:/images/2k/black/QDockWidget/undock.png) 39px 38px 5px 5px; border-width: 39px 38px 5px 5px;  qproperty-margins: "2/0/2/2"; }
LyFloatDockWrapperWidget LyDockTabWidget { border-image: none;  }
LyFloatDockWrapperWidget #ly_dock_title { color: #ffb848; }
LyDockTabWidget { border-image: url(:/images/2k/black/QDockWidget/dock.png) 39px 38px 5px 5px; border-width: 39px 38px 5px 5px; }
/*TOOL*/
LyDockTabWidget[viewMode="0"] > QTabBar, LyDockTabWidget[viewMode="0"] > QTabBar::tab { border: none; padding: 2 10px; height: 28px; }
LyDockTabWidget[viewMode="0"] > QTabBar::tab { margin-top: 2px; margin-bottom: 0px; color: #a9bbd6; }
LyDockTabWidget[viewMode="0"] > QTabBar::tab:first, LyDockTabWidget[viewMode="0"] > QTabBar::tab:only-one { margin-left: 12px; }
LyDockTabWidget[viewMode="0"] > QTabBar::tab:selected { color: #ffb848; border: 1px solid #627284; border-bottom: 1px solid #141b26; background: #141b26; border-image: url(:/images/2k/black/QTabBar/selected.png); }
LyDockTabWidget[viewMode="0"] #ly_dock_tool_header { min-height: 38px; background: transparent; }
LyDockTabWidget[viewMode="0"] #ly_dock_title_label { max-height: 15px; margin-left: 10px;  padding-left: 10px; color: #ffb848; border: none; border-left: 4px solid #ffb848; }
LyDockTabWidget[viewMode="0"] #ly_dock_tool_menu_btn { /*qproperty-visible: 0;*/ }
LyDockTabWidget[viewMode="0"] #ly_dock_tool_close_btn { width: 12px; height: 12px; margin-right: 10px; image: url(:/images/2k/black/QDialog/close_normal.png); border-image: none; border: none; padding: 0px; }
LyDockTabWidget[viewMode="0"] #ly_dock_tool_close_btn:hover { image: url(:/images/2k/black/QDialog/close_hover.png); }
LyDockTabWidget[viewMode="0"] #ly_dock_tool_close_btn:pressed { image: url(:/images/2k/black/QDialog/close_pressed.png); }
/*FILE*/
LyDockTabWidget[viewMode="1"] > QTabBar, LyDockTabWidget[viewMode="1"] > QTabBar::tab {  border-bottom: 1px solid #627284; border-top: none; padding: 2 10px; }
LyDockTabWidget[viewMode="1"] > QTabBar::tab { margin-top: 2px; margin-bottom: 0px; color: #ffb848; }
LyDockTabWidget[viewMode="1"] > QTabBar::tab:first { margin-left: 12px; }
LyDockTabWidget[viewMode="1"] > QTabBar::tab:selected { border: 1px solid #627284; border-bottom: 1px solid #141b26; }
/*
LyDockTabWidget[viewMode="1"] QTabBar::close-button { border-image: none; image: url(:/images/2k/black/QDialog/close_normal.png); width: 18px; height: 18px; }
LyDockTabWidget[viewMode="1"] QTabBar::close-button:hover { background-color: #ffffff; border-image: none; image: url(:/images/2k/black/QDialog/close_hover.png); }
LyDockTabWidget[viewMode="1"] QTabBar::close-button:pressed { background-color: #ffe8a6; border-image: none; image: url(:/images/2k/black/QDialog/close_pressed.png); }
*/

LyDialog, LyWidget { border-image: url(:/images/2k/black/QDialog/background_shadow.png) 40px 12px 12px 6px; border-width: 40px 12px 12px 6px; }
LyDialog[transparent="false"], LyWidget[transparent="false"] { border-image: url(:/images/2k/black/QDialog/background.png) 35px 1px 1px 1px; border-width: 35px 1px 1px 1px; }
LyDialog #TitleLabel, LyWidget #TitleLabel { min-height: 34px; padding-left: 3px; color: #ffb848; }
LyDialog #CloseBtn, LyWidget #CloseBtn, LyDialog #MinimizedBtn, LyWidget #MinimizedBtn, LyDialog #MaximizedBtn, LyWidget #MaximizedBtn { width: 12px; height: 12px; margin-top: 5px; margin-right: 15px; border-image: none; border: none;  padding: 0px; }
LyDialog #CloseBtn, LyWidget #CloseBtn { image: url(:/images/2k/black/QDialog/close_normal.png); }
LyDialog #CloseBtn:hover, LyWidget #CloseBtn:hover { image: url(:/images/2k/black/QDialog/close_hover.png); }
LyDialog #CloseBtn:pressed, LyWidget #CloseBtn:pressed { image: url(:/images/2k/black/QDialog/close_pressed.png); }
LyDialog #MinimizedBtn, LyWidget #MinimizedBtn { image: url(:/images/2k/black/QDialog/minimize_normal.png); }
LyDialog #MinimizedBtn:hover, LyWidget #MinimizedBtn:hover { image: url(:/images/2k/black/QDialog/minimize_hover.png); }
LyDialog #MinimizedBtn:pressed, LyWidget #MinimizedBtn:pressed { image: url(:/images/2k/black/QDialog/minimize_pressed.png); }
LyDialog #MaximizedBtn, LyWidget #MaximizedBtn { image: url(:/images/2k/black/QDialog/maximize_normal.png); }
LyDialog #MaximizedBtn:hover, LyWidget #MaximizedBtn:hover { image: url(:/images/2k/black/QDialog/maximize_hover.png); }
LyDialog #MaximizedBtn:pressed, LyWidget #MaximizedBtn:pressed { image: url(:/images/2k/black/QDialog/maximize_pressed.png); }

LyDialog #BottomLine { min-height: 3px; border-image: url(:/images/2k/black/QDialog/bottomLine.png) 0px 3px; border-width: 0px 3px; }
LyDialog #BottomBtn { qproperty-iconPath: ":/images/2k/black/icon/Tool/18/%1_%2.png"; width: -1px; height: -1px; padding-right: 6px; }
LyDialog #BottomBtn { border-image: none; border: none; }
LyDialog #BottomBtn:hover { border-image: none; }
LyDialog #BottomBtn:pressed { border-image: none; }
LyDialog #BottomBtn:pressed { border-image: none; }

LyDialog QMessageBox { border: none; background: transparent; }
LyDialog QMessageBox #qt_msgboxex_icon_label { padding-right: 20px; }
LyDialog QMessageBox QPushButton { width: 60px; }
LyDialog QMessageBox[icon="1"] { qproperty-iconPixmap: url(:/images/2k/black/QMessageBox/information.png); }
LyDialog QMessageBox[icon="2"] { qproperty-iconPixmap: url(:/images/2k/black/QMessageBox/warning.png); }
LyDialog QMessageBox[icon="3"] { qproperty-iconPixmap: url(:/images/2k/black/QMessageBox/critical.png); }
LyDialog QMessageBox[icon="4"] { qproperty-iconPixmap: url(:/images/2k/black/QMessageBox/question.png); }

/*日历窗口*/
LyCalendarDialog QPushButton, LyCalendarDialog QPushButton:hover, LyCalendarDialog QPushButton:pressed, LyCalendarDialog QPushButton:checked, LyCalendarDialog QPushButton:disabled { border: none; border-image: none; width: -1px; padding: 0px; }
LyCalendarDialog #dayBtnsWidget QPushButton { border: none; background: transparent; min-width: 36px; min-height: 36px; max-width: 36px; max-height: 36px; font-size: 17px; }
LyCalendarDialog #dayBtnsWidget QPushButton::checked { image: url(:/images/2k/black/calendar/calendar_checked.png); }
LyCalendarDialog #dayBtnsWidget QPushButton::hover { image: url(:/images/2k/black/calendar/calendar_hover.png); }
LyCalendarDialog #dayBtnsWidget QPushButton::pressed { image: url(:/images/2k/black/calendar/calendar_pressed.png); }
LyCalendarDialog #dayBtnsWidget QPushButton[currentMonth="true"] { color: #c3cbd8; }
LyCalendarDialog #dayBtnsWidget QPushButton[currentMonth="false"] { color: #445068; }

LyCalendarDialog #dateTimeLabel { padding: 10px 0; }
LyCalendarDialog QLabel[type="weekday"] { font-size:18px; }

LyCalendarDialog #dayBtnsWidget QPushButton[beginDay="true"] { background-image: url(:/images/2k/black/calendar/calendar_checked.png); }
LyCalendarDialog #dayBtnsWidget QPushButton[endDay="true"] { background-image: url(:/images/2k/black/calendar/calendar_checked.png);}

LyCalendarDialog #previousYearBtn, LyCalendarDialog #previousMonthBtn, LyCalendarDialog #nextMonthBtn, LyCalendarDialog #nextYearBtn { qproperty-text: ""; border: none; }
LyCalendarDialog #previousYearBtn { image: url(:/images/2k/black/calendar/arrow_year_left_normal.png); }
LyCalendarDialog #previousMonthBtn { image: url(:/images/2k/black/calendar/arrow_month_left_normal.png); }
LyCalendarDialog #nextMonthBtn { image: url(:/images/2k/black/calendar/arrow_month_right_normal.png); }
LyCalendarDialog #nextYearBtn { image: url(:/images/2k/black/calendar/arrow_year_right_normal.png); }
LyCalendarDialog #previousYearBtn:hover { image: url(:/images/2k/black/calendar/arrow_year_left_hover.png);}
LyCalendarDialog #previousMonthBtn:hover { image: url(:/images/2k/black/calendar/arrow_month_left_hover.png);}
LyCalendarDialog #nextMonthBtn:hover { image: url(:/images/2k/black/calendar/arrow_month_right_hover.png);}
LyCalendarDialog #nextYearBtn:hover { image: url(:/images/2k/black/calendar/arrow_year_right_hover.png);}
LyCalendarDialog #previousYearBtn:pressed { image: url(:/images/2k/black/calendar/arrow_year_left_pressed.png); }
LyCalendarDialog #previousMonthBtn:pressed { image: url(:/images/2k/black/calendar/arrow_month_left_pressed.png); }
LyCalendarDialog #nextMonthBtn:pressed { image: url(:/images/2k/black/calendar/arrow_month_right_pressed.png); }
LyCalendarDialog #nextYearBtn:pressed{ image: url(:/images/2k/black/calendar/arrow_year_right_pressed.png); }

LyCalendarDialog #timeWidget QLabel { font-size: 25px; color: #6d859f; }
LyCalendarDialog #timeWidget QTimeEdit { padding: 21px 0; font-size: 25px; color: #6d859f; max-width: 62px; min-width: 62px; max-height: 58px; min-height: 58px; }
LyCalendarDialog #timeWidget QTimeEdit { border-image: url(:/images/2k/black/calendar/timeEdit_normal.png); selection-background-color: transparent; }
LyCalendarDialog #timeWidget QTimeEdit:hover { border-image: url(:/images/2k/black/calendar/timeEdit_hover.png); color: #ff7d3c; }
LyCalendarDialog #timeWidget QTimeEdit { selection-color: #ff7d3c; }
LyCalendarDialog #timeWidget QTimeEdit::up-button { subcontrol-origin: border; subcontrol-position: top; width: 24px; height: 21px; image: none;}
LyCalendarDialog #timeWidget QTimeEdit::up-button:hover { image: url(:/images/2k/black/calendar/uparrow_hover.png); image-position: bottom; }
LyCalendarDialog #timeWidget QTimeEdit::up-button:pressed { image: url(:/images/2k/black/calendar/uparrow_pressed); image-position: bottom; }
LyCalendarDialog #timeWidget QTimeEdit::down-button { subcontrol-position: bottom; subcontrol-origin: border; subcontrol-position: bottom; width: 24px; height: 21px; image: none; }
LyCalendarDialog #timeWidget QTimeEdit::down-button:hover{ image: url(:/images/2k/black/calendar/downarrow_hover.png);  image-position: top; }
LyCalendarDialog #timeWidget QTimeEdit::down-button:pressed{ image: url(:/images/2k/black/calendar/downarrow_pressed.png);  image-position: top; }
LyCalendarDialog #beginBtn:checked, LyCalendarDialog #endBtn:checked { border: none; background-color: #fb6946; }


/*颜色选择器窗口*/
LyColorSelector, LyColorPreview { border: 1px solid red; background: transparent; max-height: 60px; }
LyColorSelector #ly_color_picker_bg { border-image: url(:/images/2k/black/QMenu/bg.png) 1px; border-width: 1px; }

/*颜色选择对话框*/
LyColorSelectDialog LyColorPreview { min-height: 30px; }

/*目录窗口*/
LyCatalogueBar { qproperty-lineColor: #627184; qproperty-offset: 16; }
LyCatalogueBar QFrame[frameShape="5"] { border: none; background: transparent; }
LyCatalogueBar QRadioButton[state="1"] { color: #ff663c; }
LyCatalogueBar QRadioButton::indicator { width: 20px; height: 8px; image-position: left; padding-top: 2px; }
LyCatalogueBar QRadioButton::indicator, LyCatalogueBar QRadioButton::indicator:hover, LyCatalogueBar QRadioButton::indicator:pressed { image: url(:/images/2k/black/catalogue/normal_normal.png); }
LyCatalogueBar QRadioButton::indicator:checked, LyCatalogueBar QRadioButton::indicator:checked:hover, LyCatalogueBar QRadioButton::indicator:checked:pressed { image: url(:/images/2k/black/catalogue/normal_checked.png); }
LyCatalogueBar QRadioButton[state="1"]::indicator, LyCatalogueBar QRadioButton[state="1"]::indicator:hover, LyCatalogueBar QRadioButton[state="1"]::indicator:pressed { image: url(:/images/2k/black/catalogue/fault_normal.png); }
LyCatalogueBar QRadioButton[state="1"]::indicator:checked, LyCatalogueBar QRadioButton[state="1"]::indicator:checked:hover, LyCatalogueBar QRadioButton[state="1"]::indicator:checked:pressed { image: url(:/images/2k/black/catalogue/fault_checked.png); }
LyCatalogueArea #titleRB::indicator { width: 12px; height: 12px; image-position: left; padding-top: 2px; }
LyCatalogueArea #titleRB::indicator, LyCatalogueBar #titleRB::indicator:hover, LyCatalogueBar #titleRB::indicator:pressed { image: url(:/images/2k/black/catalogue/normal.png); }
LyCatalogueArea #titleRB[state="1"]::indicator, LyCatalogueBar #titleRB[state="1"]::indicator:hover, LyCatalogueBar #titleRB[state="1"]::indicator:pressed { image: url(:/images/2k/black/catalogue/fault.png); }

/*空域属性设置对话框*/
AgJWPropertyDialog * { font-size: 15px; }
AgJWPropertyDialog { min-height: 420px; max-height: 420px; max-width: 280px; min-width: 280px; }
AgJWPropertyDialog #contentWidget { border-image: url(:/images/2k/black/AirSpace/AgPropertyDialog/bg.png) 32px 1 40 1; border-width: 32px 1 40 1; }
AgJWPropertyDialog #nameKeyLabel, AgJWPropertyDialog #nameValueLabel { color: #ffb848; min-height: 32px; font-size: 16px; }
AgJWPropertyDialog #ensureBtn, AgJWPropertyDialog #cancelBtn, AgJWPropertyDialog #applyBtn { border: none; border-image: none; color: #a3bbcd; padding: 0px; }
AgJWPropertyDialog #ensureBtn:hover, AgJWPropertyDialog #cancelBtn:hover, AgJWPropertyDialog #applyBtn:hover { border-image: none; color: #9cc7f3; }
AgJWPropertyDialog #ensureBtn:pressed, AgJWPropertyDialog #cancelBtn:pressed, AgJWPropertyDialog #applyBtn:pressed { border-image: none; color: #3b5d8b; }
AgJWPropertyDialog #ensureBtn:disabled, AgJWPropertyDialog #cancelBtn:disabled, AgJWPropertyDialog #applyBtn:disabled { border-image: none; color: #41505f; }
AgJWPropertyDialog #ensureBtn { qproperty-iconFileName: ":/images/2k/black/icon/AirSpace/AgPropertyDialog/ensure_%1.png"; }
AgJWPropertyDialog #cancelBtn { qproperty-iconFileName: ":/images/2k/black/icon/AirSpace/AgPropertyDialog/cancel_%1.png"; }
AgJWPropertyDialog #applyBtn { qproperty-iconFileName: ":/images/2k/black/icon/AirSpace/AgPropertyDialog/apply_%1.png"; }
AgJWPropertyDialog #buttonWidget { min-height: 40px; }
AgJWPropertyDialog #buttonWidget QFrame[frameShape="5"] { max-height: 30px; }
AgJWPropertyDialog LyColorSelectButton { max-height: 24px; }
AgJWPropertyDialog #closeBtn { min-width: 33px; max-width: 33px; min-height: 33px; border: none; border-image: none; padding: 0px; qproperty-text: ""; }
AgJWPropertyDialog #closeBtn { image: url(:/images/2k/black/AirSpace/AirspacePanel/close_normal.png); }
AgJWPropertyDialog #closeBtn:hover { border-image: none; image: url(:/images/2k/black/AirSpace/AirspacePanel/close_hover.png); }
AgJWPropertyDialog #closeBtn:pressed { border-image: none; image: url(:/images/2k/black/AirSpace/AirspacePanel/close_pressed.png); }
AgJWPropertyDialog LyLonLatLineEdit { qproperty-coordinateFormat: "EWSN"; }

/*Track高度图*/
TrackAltWgt { qproperty-brush: #00ff00; qproperty-maxAltitude: 30000.0; }

/*空域面板*/
#PopBtn, #AsPanelPopupBtn { min-width: 27px; min-height: 127px; max-width: 27px; max-height: 127px; border: none; }
#PopBtn, #AsPanelPopupBtn { border-image: url(:/images/2k/black/AirSpace/AirspacePanel/pop_normal.png); padding: 0px; font-size: 15px; }
#PopBtn:hover, #AsPanelPopupBtn:hover { border-image: url(:/images/2k/black/AirSpace/AirspacePanel/pop_hover.png); }
#PopBtn:pressed, #AsPanelPopupBtn:pressed { border-image: url(:/images/2k/black/AirSpace/AirspacePanel/pop_pressed.png); }
AirspacePanel { min-width: 484px; max-width: 484px; border-image: url(:/images/2k/black/AirSpace/AirspacePanel/bg.png) 34px 1 1 1; border-width: 34px 1 1 1; padding: -34px -1 -1 -1;}
AirspacePanel { qproperty-imagePath: ":/images/2k/black/icon/AirSpace/AirspacePanel/"; qproperty-panelHeight: 101; qproperty-rowHeight: 60; qproperty-closeBtnX: 38; }
AirspacePanel #AsPanelCloseBtn { min-width: 33px; min-height: 33px; border: none; border-image: none; padding: 0px; }
AirspacePanel #AsPanelCloseBtn { image: url(:/images/2k/black/AirSpace/AirspacePanel/close_normal.png); }
AirspacePanel #AsPanelCloseBtn:hover { border-image: none; image: url(:/images/2k/black/AirSpace/AirspacePanel/close_hover.png); }
AirspacePanel #AsPanelCloseBtn:pressed { border-image: none; image: url(:/images/2k/black/AirSpace/AirspacePanel/close_pressed.png); }
AirspacePanel::pane { border: none; background: transparent; margin: 0px; }
AirspacePanel QTabBar { height: 34px; border: none; }
AirspacePanel QTabBar::tab:first { margin-left: 5px; }
AirspacePanel QTabBar::tab:top { border: none; margin: 0px; padding: 6px 10px 4 10px; height: 21px; }
AirspacePanel QTabBar::tab:top:hover { border-bottom: 2px solid #ffb848; padding: 6px 10px 3 10px; }
AirspacePanel QTabBar::tab:top:selected { color: #ffb848;  border-image: none; border: none; border-bottom: 2px solid #ffb848; padding: 6px 10px 3 10px; }
AirspacePanel QTabBar::tab:top:selected:hover { padding: 6px 10px 3 10px; }

GraphItemLW { border: none; background: transparent; border-image: none; font-size: 15px; outline: none; padding-left: 3px; padding-top: 5px; }
GraphItemLW { qproperty-itemSizeHint: 65px 60px; }
GraphItemLW::item { padding-top: 3px; }
GraphItemLW::item:hover { border-image: url(:/images/2k/black/AirSpace/AirspacePanel/hover.png); border:none; padding-top: 3px; }
GraphItemLW::item:selected { border-image: url(:/images/2k/black/AirSpace/AirspacePanel/selected.png); border:none; padding-top: 3px; }
GraphItemLW QScrollBar { border-image: url(:/images/2k/black/AirSpace/AirspacePanel/QScrollBar/bg.png) 3px 0px; border-width: 3px 0px; padding: -3px 0; }
GraphItemLW QScrollBar:vertical { width: 6px; padding: 0px; padding-bottom: -3px; }
GraphItemLW QScrollBar::add-page, GraphItemLW QScrollBar::sub-page { background: transparent; }
GraphItemLW QScrollBar::handle { width: 2px; background-image: url(:/images/2k/black/AirSpace/AirspacePanel/QScrollBar/handle.png) 1px 0; border-width: 1px 0; }
GraphItemLW QScrollBar::add-line, GraphItemLW QScrollBar::sub-line { width: 0px; height: 0px; subcontrol-origin: padding; }
GraphItemLW QScrollBar::add-line:vertical { subcontrol-position: bottom; }
GraphItemLW QScrollBar::sub-line:vertical { subcontrol-position: top; }
GraphItemLW QScrollBar::up-arrow, GraphItemLW QScrollBar::down-arrow { image: none; }

/*树形图*/
LyTreeChart { border: none; background: transparent; qproperty-bgPath: ":/images/2k/black/ViceWindow/MilitaryOrg/%1.png"; qproperty-chartProperty: "120,10,140,200,46,16"; qproperty-chartColor: "#435a6f,#add2ff,#41fff0,#1d6191,#88650c,#fbb341,#1e293c";  }

/*等待窗口*/
LyWaiting { background: rgba(12, 16, 23, 150); qproperty-gifPath: ":/images/1k/black/wait/%1.png"; }
LyWaiting #InfoLabel { font-size: 16px; color: #fbb341; } 

/*资源树*/
LyResourceWidget #JiChangeTBtn { padding-right: 10px; }
LyResourceWidget #JiChangeTBtn, LyResourceWidget #JiChangeTBtn:hover, LyResourceWidget #JiChangeTBtn:pressed { border: none; border-image: none; color: #d3e6f4; }
LyResourceWidget #JiChangeTBtn::menu-indicator { image: url(:/images/2k/black/ViceWindow/MilitaryPool/arrow_down_normal.png); subcontrol-origin: padding; subcontrol-position: right; }
LyResourceWidget #JiChangeTBtn::menu-indicator:hover { image: url(:/images/2k/black/ViceWindow/MilitaryPool/arrow_down_hover.png);  }
LyResourceWidget #JiChangeTBtn::menu-indicator:pressed { image: url(:/images/2k/black/ViceWindow/MilitaryPool/arrow_down_pressed.png); }
LyResourceWidget #JiXingBtn, LyResourceWidget #DanYaoBtn { border: none;  min-height: -1px; padding: 0px; width: 56px; height: 26px; color: #ffffff; }
LyResourceWidget #JiXingBtn, LyResourceWidget #DanYaoBtn { border-image: url(:/images/2k/black/ViceWindow/MilitaryPool/normal.png); }
LyResourceWidget #JiXingBtn:checked, LyResourceWidget #DanYaoBtn:checked { border-image: url(:/images/2k/black/ViceWindow/MilitaryPool/checked.png); color: #ffb848; }
LyResourceListView { border: none; border-image: none; background: transparent; qproperty-iconPath: ":/images/2k/black/ResourcePool/plane/%1.png"; qproperty-itemSizeHint: 200px 61px; qproperty-drawProperty: "#273040,#16c491,#138dff,#ff6c13,#ff3a13,#cbddeb,15"; }


StyleTestWidget LyIconToolButton { qproperty-iconPath: ":/images/2k/black/icon/Tool/%1_%2.png"; width: 24px; height: 24px; }
StyleTestWidget #toolButton { qproperty-iconName: "new task direction"; }
StyleTestWidget #toolButton_2 { qproperty-iconName: "new task package"; }
StyleTestWidget #toolButton_3 { qproperty-iconName: "new task"; qproperty-checkable: true; }
StyleTestWidget #toolButton_4 { qproperty-iconName: "ground strike"; }
StyleTestWidget #toolButton_5 { qproperty-iconName: "cover"; }
StyleTestWidget #toolButton_6 { qproperty-iconName: "moppingup"; }
StyleTestWidget #toolButton_7 { qproperty-iconName: "airpatrol"; }
StyleTestWidget #toolButton_8 { qproperty-iconName: "delete"; }
StyleTestWidget #toolButton_9 { qproperty-iconName: "ATOgenerate"; }
StyleTestWidget #toolButton_10 { qproperty-iconName: "save"; }
StyleTestWidget #widget_2 { border: 1px solid #ffb848; }
StyleTestWidget #addBtn { qproperty-iconPath: ":/images/2k/black/icon/Tool/18/%1_%2.png"; qproperty-iconName: "add2"; }
StyleTestWidget #deleteBtn { qproperty-iconPath: ":/images/2k/black/icon/Tool/18/%1_%2.png"; qproperty-iconName: "delete"; }
StyleTestWidget { qproperty-iconPath: ":/images/2k/black/icon/Tool/24/"; }


QWidget[Ly_Self_Widget="Ly_Self_Widget"] { border-image: url(:/images/2k/black/QDialog/background.png) 27px 1px 1px 1px; border-width: 27px 1px 1px 1px; background-position: top left; background-origin: content;}
